<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>IPT 2015 - Trabalho Sistemas Web</title>
    <link href="/css/mystyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="main">
        <ul>
            <li>Trabalho de Sistemas Web - 2Q2015</li>
            <li>Professor: Marcelo Rezende</li>
            <li>
                Alunos:
                <ul>
                    <li>Mauricio Noris Freire mauricionoris@gmail.com</li>
                    <li>Marcelo Lallo mlallo@hotmail.com</li>
                </ul>
            </li>
        </ul>
    </div>
    <form method="get" action="/"><input type="submit" value="Retornar"></form>

</body>
</html>