doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
      div.jumbotron
        h2 Voxy Code Challenge
        label Developed by Mauricio Noris Freire
      block content
