extends layout

block content




  div(class='panel panel-default')
    div(class='panel-heading')
      h2 Word Counter
    div(class='panel-default')
      div(class='panel-body')
        form(method='GET' action='/')
          div.form-group

            if q_words > 1
               label You entered a text with #{q_words} words
            else
               label You entered a text with just #{q_words} word

            textarea(class='form-control' rows='10' readonly) #{text}
          div.form-group
              button(class="btn btn-primary") Return
          div.form-group
            ol
              each token in tokens
                li= token
